################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/xLiAd.MongoEx/v16
/xLiAd.MongoEx.Entities/bin
/xLiAd.MongoEx.Entities/nupkgs
/xLiAd.MongoEx.Entities/nupkgsSymb
/xLiAd.MongoEx.Entities/obj
/xLiAd.MongoEx.Entities/发布到NUGET.bat
/xLiAd.MongoEx.Repository/bin
/xLiAd.MongoEx.Repository/nupkgs
/xLiAd.MongoEx.Repository/nupkgsSymb
/xLiAd.MongoEx.Repository/obj
/xLiAd.MongoEx.Repository/发布到NUGET.bat
/xLiAd.MongoEx.RepositoryTest/bin/Debug/netcoreapp3.0
/xLiAd.MongoEx.RepositoryTest/obj
/.vs/xLiAd.MongoEx/DesignTimeBuild
/xLiAd.MongoEx.VersionRepository/obj
/xLiAd.MongoEx.VersionRepositoryTest/obj
/xLiAd.MongoEx.VersionRepository/bin/Debug/netstandard2.0
/xLiAd.MongoEx.VersionRepositoryTest/bin/Debug/netcoreapp3.0
/xLiAd.MongoEx.VersionRepository/nupkgs
/xLiAd.MongoEx.VersionRepository/nupkgsSymb
/xLiAd.MongoEx.VersionRepository/发布到NUGET.bat
